{
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended"
  ],
  "rules": {
    "padding-line-between-statements": [
      "error",
      // IMPORT
      {
        "blankLine": "always",
        "prev": "import",
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": "import",
        "next": "import"
      },
      // EXPORT
      {
        "blankLine": "always",
        "prev": "*",
        "next": "export"
      },
      {
        "blankLine": "any",
        "prev": "export",
        "next": "export"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": [
          "const",
          "let"
        ]
      },
      {
        "blankLine": "any",
        "prev": [
          "const",
          "let"
        ],
        "next": [
          "const",
          "let"
        ]
      },
      // BLOCKS
      {
        "blankLine": "always",
        "prev": [
          "block",
          "block-like",
          "class",
          "function"
        ],
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": [
          "block",
          "block-like",
          "class",
          "function",
          "return"
        ]
      }
    ]
  }
}